{{ 'gallery-home.css' | asset_url | stylesheet_tag }}

<div class="gallery" id="gallery-{{ section.id }}">
  <div class="gallery__container">
    <div class="gallery__container-item">
      {%- if section.settings.image != blank -%}
      <img 
        srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if section.settings.image.width >= 550 -%}{{ section.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
          {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
        sizes="{% if section.settings.image_2 != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif section.settings.image_2 != blank %}50vw{% else %}100vw{% endif %}"
        src="{{ section.settings.image | image_url: width: 1500 }}"
        loading="lazy"
        alt="{{ section.settings.image.alt | escape }}"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
      />
      {%- endif -%}
      <div class="gallery__container-item--info">
        <p class="heading">{{ section.settings.text | escape }}</p>
        <a href="" class="btn-link">SHOP NOW</a>
      </div>
    </div>
    <div class="gallery__container-item">
      <img src="https://placeimg.com/800/600/nature" />
      <div class="gallery__container-item--info">
        <p class="heading">BEDDING</p>
        <a href="" class="btn-link">SHOP NOW</a>
      </div>
    </div>
  </div>
</div>

{%schema%}
{
  "name": "t:sections.gallery-home",
  "tag": "section",
  "class" : "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.gallery-home.settings.image.label"

    },
    {
      "type": "select",
      "id": "position",
      "options": [
        {
          "value": "default",
          "label":"t:sections.gallery-home.settings.position.options__1.label"
        },
        {
          "value": "invert",
          "label":"t:sections.gallery-home.settings.position.options__2.label"
        }
      ],
      "default": "default",
      "label": "t:sections.gallery-home.settings.position.label"
    },
    {
      "type": "text",
      "id": "text",
      "default": "NEW",
      "label": "t:sections.gallery-home.settings.text.label"
        
    }
  ]
}

{% endschema %}